{# src/Blogger/BlogBundle/Resources/views/Page/about.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About my blog</h1>
    </header>
    <article>
        <p> Blog zostal napisany w Symfony wersji 2.7.8, przy uzyciu srodowiska PHP Storm udostepnionego na licencji studenckiej przez
            IntelliJ. Blog jest prostym przykladem dzialania aplikacji programu w oparciu o worzec MVC. Uzycie kontrolerow, wsparcie
            twiga udostepnionego przez Symfony pozwolilo stworzyc ta strone.
         .</p>
    </article>
{% endblock %}